server:
  port: 8090
spring:
  config:
    import: optional:configserver:http://localhost:8071
  profiles:
    active:
      - "qa"
  application:
    name: loans
  jpa:
    show-sql: true
eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8070/eureka/
management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true
info:
  message: "welcome to loan application default profile"
  name: "raj default profile"
